<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/courses.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
        <%-include("partials/header") %>    
      </header>

      <% course.forEach((courses) => {%>
        <div>
          <section>
            <a href="/courses/detail/<%= course.id %>">
               <img src="/myApp/public/images/cursos/<%= course.image %>" alt="Curso 1">

               <article>
                <h2><%= formatPrice(course.price) %></h2>
                <span><%= course.discount %> %OFF</span>
                <p><%= course.name %></p>
               </article>
            </a>
          </section>
        </div>  
    <footer>
      <%-include("partials/footer") %>
    </footer>
    <% }) %>
  </body>

</html>