<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head") %>
    <link rel="stylesheet" href="/css/internalCourse.css">
    <title>Curso Interna</title>
</head>
<body>
    <header>
        <%-include("partials/header") %>
    </header>
    <div id="botao-acessibilidade">
        <img id="icone-acessibilidade" src="/images/courses/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
    </div>
    <main>
        <span id="container-curso">
            <div id="preview-curso">
                <div id="video-curso">
                    <img id="img-video-curso" src="/images/internalCourse/load-video-preview.svg" alt="teste">
                    <p id="txt-video-curso">Pré-visualização do curso</p>
                </div>
                
                <div id="valores-curso">
                    <div id="preco">
                        <div id="preco-detalhes">
                            <p class="desconto">De R$99,99</p>
                            <p id="preco-curso"><strong><%= course.preco %></strong></p>
                            <p class="desconto">Ganhe 100% de desconto</p>
                        </div>
                        <div id="promocao">
                            <img id="img-promocao" src="/images/internalCourse/promocao-image.svg">
                            <p id="txt-promocao">Promoção acaba em 00:00 horas</p>
                        </div>
                    </div>
                </div>

                <div id="botoes-user">
                    <form action="/user" method="get">
                        <button id="botao-carrinho" href="#"><img src="/images/courses/carrinho-courses.svg"></button>
                        <button id="botao-favoritos" href="#"><img src="/images/courses/icone-favoritar.svg"></button>
                        <button id="botao-comprar" href="#"><strong>COMPRAR AGORA</strong></button>
                    </form>
                    <a id="devolucao" href="/perguntas-frequentes">Garantia de devolução do dinheiro em 30 dias</a>
                </div>

                <p id="titulo-detalhes-curso"><strong>Detalhes do curso</strong></p>
                <span id="detalhes-curso">
                    <div id="img-detalhes-curso">
                        <img class="icone-detalhes-curso" src="/images/internalCourse/image-video-aula.svg" alt="">
                        <img class="icone-detalhes-curso" src="/images/internalCourse/image-simulados.svg" alt="">
                        <img class="icone-detalhes-curso" src="/images/internalCourse/image-vitalidade.svg" alt="">
                        <img class="icone-detalhes-curso" src="/images/internalCourse/image-atividades.svg" alt="">
                        <img class="icone-detalhes-curso" src="/images/internalCourse/image-certificado.svg" alt="">
                    </div>
                    <div id="txt-detalhes-curso">
                        <p class="caracteristicas-curso-primeiro">0 horas de vídeo aula</p>
                        <p class="caracteristicas-curso">0 simulados</p>
                        <p class="caracteristicas-curso">Acesso total vitalício</p>
                        <p class="caracteristicas-curso">000 atividades</p>
                        <p class="caracteristicas-curso">Certificado de participação</p>
                    </div>
                </span>
                <a id="compartilhar-curso" href="#">Compartilhar este curso</a>
            </div>
            <span id="equipe-docente">
                <p id="titulo-equipe-docente">Professores</p>
                <div id="equipe-professores">
                    <div class="professores"><img src=""></div>
                    <div class="professores"><img src=""></div>
                    <div class="professores"><img src=""></div>
                    <div class="professores"><img src=""></div>
                </div>
            </span>
        </span>

        <span id="container-informacoes-curso">
            <div id="trilha-curso">
                <a href="/courses">Página Home > Metodologias de Desenvolvimento > GIT</a>
            </div>
            <div id="informacoes-iniciais-curso">
                <h1>Técnicas de GIT - Nível: zero ao expert</h1>
                <h3>Aqui fica uma descrição resumida do que o aluno consumirá no curso escolhido bla bla bla</h3>
                <a href="#">Classificação e comentários (estrelas)</a>
                <p class="info-curso">Quantos alunos já compraram:</p>
                <p class="info-curso">Criado por: <a href="#">link perfil</a></p>
                <p class="info-curso">Data de atualização do curso: Atualizado em <a>24 de Março de 2022</a></p>
                <p>Idioma do curso: <a>Português BR</a></p>
            </div>
        </span>

        <img id="freepick-internalCourse" src="/images/internalCourse/main-image.svg">

        <span id="container-voce-vai-aprender">
            <h2 id="titulo-voce-vai-aprender">O que você vai aprender</h2>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Realizar a instalação do Git</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Utilizar os principais comandos do Git</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Entender os estados dos arquivos do projeto</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Integrar projetos versionados pelo Git ao GitHub</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Enviar e receber as versões do projeto na plataforma Github</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Resolver conflitos de alterações em arquivos do projeto</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Trabalhar com branches</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Desenvolver os principais fluxos de trabalho em equipe</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Gerenciar os arquivos em stashes</p>
            </div>
            <div class="tecnicas-ensinadas">
                <img class="img-check" src="/images/internalCourse/image-check.svg">
                <p>Utilizar pull requests, issues e forks</p>
            </div>
        </span>
        
        <div id="container-detalhes-feedback">
            <span id="mais-detalhes-curso">
                <div class="caixa-mais-detalhes">
                    <img class="icone-mais-detalhes" src="/images/internalCourse/mais-detalhes.svg">
                    <p>Conteúdo do Curso</p>
                </div>
                <div class="caixa-mais-detalhes">
                    <img class="icone-mais-detalhes" src="/images/internalCourse/mais-detalhes.svg">
                    <p>Descrição e Requisitos</p>
                </div>
                <div class="caixa-mais-detalhes">
                    <img class="icone-mais-detalhes" src="/images/internalCourse/mais-detalhes.svg">
                    <p>Comentários e Avalicações</p>
                </div>
            </span>
    
            <span id="container-feedback-do-aluno">
                <h2 id="titulo-feedback">Feedback do aluno</h2>
                <div id="cassificacao-feedback-alunos">
                    <div id="classificacao-nota">

                        <h2 id="nota-feedback">5.0</h2>
                        <div id="star-nota">
                            <img class="icone-star" src="/images/internalCourse/full-star.svg" alt="">
                            <img class="icone-star" src="/images/internalCourse/full-star.svg" alt="">
                            <img class="icone-star" src="/images/internalCourse/full-star.svg" alt="">
                            <img class="icone-star" src="/images/internalCourse/full-star.svg" alt="">
                            <img class="icone-star" src="/images/internalCourse/full-star.svg" alt="">
                        </div>
                    </div>

                    <div id="medidores-feedback">
                        <div class="medidor-classificacao">
                            <div class="medidor"></div>
                            <div class="star">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                            </div>
                            <p class="procentagem-feedback">0%</p>
                        </div>

                        <div class="medidor-classificacao">
                            <div class="medidor"></div>
                            <div class="star">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                            </div>
                            <p class="procentagem-feedback">0%</p>
                        </div>

                        <div class="medidor-classificacao">
                            <div class="medidor"></div>
                            <div class="star">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                            </div>
                            <p class="procentagem-feedback">0%</p>
                        </div>

                        <div class="medidor-classificacao">
                            <div class="medidor"></div>
                            <div class="star">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                            </div>
                            <p class="procentagem-feedback">0%</p>
                        </div>

                        <div class="medidor-classificacao">
                            <div class="medidor"></div>
                            <div class="star">
                                <img src="/images/internalCourse/full-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                                <img src="/images/internalCourse/empty-star.svg" alt="">
                            </div>
                            <p class="procentagem-feedback">0%</p>
                        </div>
                    </div>
                </div>
            </span>
        </div>

        <span id="outros-cursos-semelhantes">
            <%-include("partials/course-list") %>
        </span>
        <div id="botao-whatsapp">
            <img id="icone-whatsapp" src="/images/internalCourse/icone-whatsapp.svg" alt="ícone do botão Whatsapp - Entre em contato conosco!">
        </div>
    </main>
    <footer>
        <%-include("partials/footer") %>
    </footer>
</body>
</html>