<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("partials/head") %>
 <link rel="stylesheet" href="css/products.css">
 <title>Categorias de cursos | SkoobyTech - Escola de Tecnologia</title>
</head>
<body>

 <header>
    <%-include("partials/header") %>
 </header>
  <div id="botao-acessibilidade">
   <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
  </div>

 <main id= "container-courses">
  <section id="container-categorias">
   <div class="categoria">
    <a href="#"><h2 class="titulo-categorias">Cursos em Back-End</h2></a>
    
    <%-include("partials/product-list") %>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria">
    <a href="#"><h2 class="titulo-categorias">Cursos em Front-End</h2></a>

    <%-include("partials/product-list") %>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria">
    <a href="#"><h2 class="titulo-categorias">Cursos Full Stack</h2></a>

    <%-include("partials/product-list") %>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria">
    <a href="#"><h2 class="titulo-categorias">Metodologias de Desenvolvimento</h2></a>
    <%-include("partials/product-list") %>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>
  </section>

  <span id="parceiros">
   <p id="titulo-parceiros">Com a parceria de empresas Tech em todo Brasil</p>
   <img class="icones-parceiros" src="images/products/parceiro-stripe.svg" alt="Ícone parceiro Stripe">
   <img class="icones-parceiros" src="images/products/parceiro-google.svg" alt="Ícone parceiro Google">
   <img class="icones-parceiros" src="images/products/perceiro-adobe.svg" alt="Ícone parceiro Adobe">
   <img class="icones-parceiros" src="images/products/parceiro-github.svg" alt="Ícone parceiro GitHub">
   <img class="icones-parceiros" src="images/products/parceiro-DH.svg" alt="Ícone parceiro DigitalHouse">
  </span>
 </main>
 
</body>

<footer>
   <%-include("partials/footer") %>
</footer>
</html>