<div class="listagem-cursos">
    <div class="icone-seta-rolagem-esquerda">
      <img src="/images/courses/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
   </div>
  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img class="img-do-curso" src="/images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href=""<p class="descricao-curso">Iniciando em JavaScript</p></a>
   <p class="descricao-duracao-curso">Duração: 35 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href=/courses/detail/<%-> courses.<%-> courses.id %> %>">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">  
    <img class="img-do-curso" src="/images/courses/curso2.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href=""><p class="descricao-curso">Node JS do Zero ao Avançado</p></a>
   <p class="descricao-duracao-curso">Duração: 70 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href=/courses/detail/<%-> courses.<%-> courses.id %> %>">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img class="img-do-curso" src="/images/courses/curso3.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href=""><p class="descricao-curso">Boas Práticas para o melhor código!</p></a>
   <p class="descricao-duracao-curso">Duração: 15 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href=/courses/detail/<%-> courses.<%-> courses.id %> %>">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img class="img-do-curso" src="/images/courses/curso5.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="+"><p class="descricao-curso">Banco de Dados | SQL e MySQL</p></a>
   <p class="descricao-duracao-curso">Duração: 50 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href=/courses/detail/<%-> courses.<%-> courses.id %> %>">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img class="img-do-curso" src="/images/courses/curso6.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="+"><p class="descricao-curso">Introdução ao Framework: Express</p></a>
   <p class="descricao-duracao-curso">Duração: 30 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="+">Ver detalhes</a>
   </div>
  </div>
  <div class="icone-seta-rolagem-direita">
   <img src="/images/courses/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
  </div>
 </div>

  