<!DOCTYPE html>
<html lang="pt-br">
<head>    <%-include("partials/head", {title: 'Detalhes'}) %> </head>
<body>
    <div>
     <h2>Detalhe do Curso: <%= course.nome %> </h2>
    <div>
        <img src="/myApp/public/images/cursos/<%= course.image %>" alt="Imagem do Curso">
        <p><% course.descricao %></p>

        <h2><%= courseFound.nome %></h2>
        <p><%= formatPrice(courseFound.preco) %></p>
        <a href="/courses/edit/<%= courseFound.id %>">Editar Curso</a>

        <form action="/courses/delete/<%= courseFound.id %>?_method=DELETE" method="POST">
     
        <button type="submit">APAGAR</button>

        </form>
    </div>
    </div>
</body>
</html>